<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sudoku solver</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<link rel="icon" type="image/gif/png" href="{{ url_for('static', filename='graphics/icon.png') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='scripts/fill_tables.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='scripts/check_inputs.js') }}"></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	</head>

	<body>
		<h1>Sudoku solver</h1>
	  
		<form name="form" action="{{ url_for('solve') }}" method="POST" enctype="multipart/form-data" autocomplete="off">
			<table summary="Sudoku puzzle">
				<colgroup><col><col><col></colgroup>
				<colgroup><col><col><col></colgroup>
				<colgroup><col><col><col></colgroup>
				<tbody>
					{% for row in range(3) %}
						<tr>
							{% for col in range(9) %}
								<td><input class="number_input" type="text" maxlength="1" name="field_{{row}}_{{col}}" onchange="adjust_style(this);check_inputs('error_msg');"/></td>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
				<tbody>
					{% for row in range(3,6) %}
						<tr>
							{% for col in range(9) %}
								<td><input class="number_input" type="text" maxlength="1" name="field_{{row}}_{{col}}" onchange="adjust_style(this);check_inputs('error_msg');"/></td>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
				<tbody>
					{% for row in range(6,9) %}
						<tr>
							{% for col in range(9) %}
								<td><input class="number_input" type="text" maxlength="1" name="field_{{row}}_{{col}}" onchange="adjust_style(this);check_inputs('error_msg');"/></td>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>				
			</table summary="Sudoku puzzle">

			<br>
			<button id="btn_solve" onclick="fill_zeros_if_empty();">Solve Sudoku</button>
		</form>

		<div class="error_msg" style="display: none;">
			There are some errors!
		</div>


		<script>
			window.onload = function () {
				initialize_puzzle("field_");
			};

			$(".number_input").focusin(function()
			{
				$(this).select();
				this.style.color = "black";
			});
			$(".number_input").focusout(function()
			{
				adjust_style(this);
			});
			$(".number_input").keypress(function(key)
			{
				if(key.charCode < 48 || key.charCode > 57) return false;
			});
		</script>
	</body>
</html>