h1	
{
	color: red;
	margin-left: 2em;
}

input.number_input
{
	padding: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    border: white;
}

table 
{ 
	border-collapse: collapse; 
	font-family: Calibri, 
	sans-serif; 
}

colgroup, tbody 
{ 
	border: solid medium; 
}

td 
{ 
	border: solid thin; 
	height: 1.4em; 
	width: 1.4em; 
	text-align: center; 
	padding: 0; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
{
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] 
{
    -moz-appearance:textfield; /* Firefox */
}

.error_msg
{
	padding: 1em;
	color: red;
	font-size: xx-large;
}